{% extends 'base.html' %}

{% load bootstrap4 %}

{% block body %}
  <h1 class="text-center my-5">회원정보 수정</h1>
  <div class="col-6 offset-3">
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="id">사용자 이름</label>
        <p><strong>{{ user.username }}</strong></p>
      </div>
      {% bootstrap_form user_change_form %}
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">수정</button>
      </div>
    </form>
  </div>
{% endblock %}