{% extends 'base.html' %}

{% block body %}
  <h1 class="text-center mb-5">회원가입</h1>

  <form method="POST">
    {% csrf_token %}
    <div class="input-group flex-nowrap col-6 offset-3 mb-3">
      <div class="input-group-prepend col-4">
        <span class="input-group-text col-12">사용자 이름</span>
      </div>
      {{ form.username }}
    </div>
    <div class="input-group flex-nowrap col-6 offset-3 mb-3">
      <div class="input-group-prepend col-4">
        <span class="input-group-text col-12">비밀번호</span>
      </div>
      {{ form.password1 }}
    </div>
    <div class="input-group flex-nowrap col-6 offset-3 mb-3">
      <div class="input-group-prepend col-4">
        <span class="input-group-text col-12">비밀번호 확인</span>
      </div>
      {{ form.password2 }}
    </div>
    <div class="col-4 offset-8">
      <button type="submit" class="btn btn-primary">가입</button>
    </div>
  </form>
{% endblock %}